<div class="container-fluid">
    <div class="row bg-success justify-content-center align-items-center" style="height:80px">
        <div class="col-sm-12 text-light h2" style="text-align: center;">
            My To-Do List
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-sm-3">&nbsp;</div>

        <div class="col-sm-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title><h2>Add To Do</h2></mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field class="full-width">
                                <mat-label>
                                    Title of Task <span class="required-field-asterisk">*</span>  
                                </mat-label>
                                <input matInput
                                    id="title"
                                    name="title"
                                    [(ngModel)]="newTask.title"
                                />
                            </mat-form-field>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field class="full-width">
                                <mat-label>
                                    Description of Task
                                </mat-label>
                                <input matInput
                                    id="description"
                                    name="description"
                                    [(ngModel)]="newTask.description"
                                />
                            </mat-form-field>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;">
                            <button mat-raised-button id="addBtn" color="primary" (click)="addToList()">
                                Add To List
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-sm-3">&nbsp;</div>
    </div>

    <div>&nbsp;</div>

    <div class="row">
        <div class="col-sm-3">&nbsp;</div>

        <div class="col-sm-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title><h2>To Do List</h2></mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <div *ngFor="let task of tasks">
                        <div class="row">
                            <div class="col-sm-12">
                                <span *ngIf="task.done === false">
                                    <mat-checkbox (change)="taskDone($event)" value="{{ task.index }}">
                                        {{ task.title }}
                                    </mat-checkbox>
                                </span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
                
        <div class="col-sm-3">&nbsp;</div>
    </div>

    <div>&nbsp;</div>

    <div class="row">
        <div class="col-sm-3">&nbsp;</div>

        <div class="col-sm-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title><h2>Completed List</h2></mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <div *ngFor="let task of tasks">
                        <div class="row">
                            <div class="col-sm-12">
                                <span *ngIf="task.done === true" class="strike">
                                    <mat-checkbox (change)="taskUndone($event)" value="{{ task.index }}" checked="checked">
                                        {{ task.title }}
                                    </mat-checkbox>
                                </span>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
                
        <div class="col-sm-3">&nbsp;</div>
    </div>
</div>